@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}


.react-tabs__tab {
  border: none;
}

.react-tabs__tab--selected {
  background-color: rgb(22 163 74); /* green-600 */
  color: white;
  box-shadow: 0 8px 20px rgba(12, 218, 88, 0.35);
}

.react-tabs__tab:focus {
  box-shadow: none;
}

*{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

a.active{
  background-color: #166534;
  color: white;
}

.dashboard a.active{
  background-color: #297547;
  color: #CAEB66; 
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #166534;
  --color-secondary: #03373D;
}
